<div class="px-1 py-1"
     data-controller="list-color"
     data-list-color-url-value="<%= list_path(list) %>">
  <div class="flex justify-around items-center px-2 py-2">
    <% List.colors.keys.each do |color_key| %>
      <button
        data-action="click->list-color#select"
        data-list-color-color-param="<%= color_key %>"
        class="h-6 w-6 rounded-full border-2 <%= list.color == color_key ? 'border-blue-500' : 'border-transparent' %> transition-transform transform hover:scale-110 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
        style="background-color: <%= List.color_hex_for(color_key) %>;"
        title="<%= t("lists.colors.#{color_key}", default: color_key.humanize) %>">
      </button>
    <% end %>
  </div>
</div>