<% start_editing_name ||= false %>

<div id="<%= dom_id(list) %>" data-list-id="<%= list.id %>" class="list w-full flex-shrink-0 flex flex-col sm:w-[300px] h-fit">
  
  <%# --- LIST HEADER --- %>
  <div class="list-header">
    <div class="flex justify-between items-start">
      <div class="flex-grow">
        <div data-controller="inline-edit"
             data-inline-edit-url-value="<%= list_path(list) %>"
             data-inline-edit-attribute-value="name"
             data-inline-edit-object-name-value="list"
             data-inline-edit-start-editing-value="<%= start_editing_name %>"
             <% if start_editing_name %>
               data-inline-edit-main-new-list-button-id-value="main_new_list_button"
             <% end %>>
            <h2 class="list-name min-h-[1.5em]"
                data-inline-edit-target="display"
                data-action="click->inline-edit#edit">
                <%= list.name.presence || "Clique para editar o nome" %>
            </h2>
            <input type="text" value="<%= list.name %>"
                   data-inline-edit-target="input"
                   class="list-name w-full <%= 'hidden' unless start_editing_name %>"
                   data-action="blur->inline-edit#handleBlur keydown->inline-edit#handleKeydown">
        </div>
        <div data-controller="inline-edit"
             data-inline-edit-url-value="<%= list_path(list) %>"
             data-inline-edit-attribute-value="description"
             data-inline-edit-object-name-value="list">
            <p class="list-description min-h-[1.5em]"
               data-inline-edit-target="display"
               data-action="click->inline-edit#edit">
                <%= list.description.presence || "Clique para adicionar uma descrição" %>
            </p>
            <textarea data-inline-edit-target="textarea" rows="3"
                      class="list-description w-full hidden"
                      data-action="blur->inline-edit#handleBlur keydown->inline-edit#handleKeydown"><%= list.description %></textarea>
        </div>
      </div>
      <div class="relative ml-2 flex-shrink-0"
           data-controller="dropdown"
           data-action="click@window->dropdown#hide"
           data-dropdown-hidden-class="hidden">
        <button type="button" class="p-1 rounded-full text-gray-500 hover:bg-gray-200 hover:text-gray-700" data-action="dropdown#toggle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
          </svg>
        </button>
        <div data-dropdown-target="menu" class="hidden float-menu">
          <div class="py-1">
            <%= button_to t("lists.delete-list"), list_path(list),
                  method: :delete,
                  class: "block w-full text-left px-4 py-2 text-sm text-red-700 hover:bg-red-50",
                  data: { turbo_confirm: "Tem certeza que deseja excluir este list e todas as suas tarefas?" } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="flash_messages_list_<%= list.id %>"></div>

  <%# --- TASK ADD BUTOON --- %>
  <div class="list-add-task-container">
    <%= form_with(model: [list, Task.new], url: list_tasks_path(list), method: :post, class: "inline-block", id: "new_task_form_for_list_#{list.id}") do |form| %>
      <%# O título é definido no controller, então o campo oculto é removido %>
      <%= form.submit t("lists.add-task"), class: "button-primary" %>
    <% end %>
  </div>

  <%# --- TASKS SECTIONS --- %>
  <%# Parent container which contains the ID targeted by the controller. %>
  <div class="flex-grow" id="<%= dom_id(list, :tasks_container) %>">
    <%= render 'lists/tasks_container', list: list %>
  </div>
</div>
