<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :priority %>
    <%# Uses enum to populate select. Enum keys are strings. %>
    <%= form.select :priority, Task.priorities.keys.map { |p| [p.humanize, p] }, prompt: 'Selecione a Prioridade' %>
  </div>

  <div>
    <%= form.label :due_date, style: "display: block" %>
    <%= form.date_field :due_date %>
  </div>

  <div>
    <%= form.label :due_time, style: "display: block" %>
    <%= form.time_field :due_time %>
  </div>

  <div>
    <%= form.label :list_id, "List" %>
    <%# @lists is loaded by the before_action :load_lists in controller %>
    <%= form.collection_select :list_id, @lists, :id, :name, prompt: 'Selecione um List' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>